@import url("https://fonts.googleapis.com/css2?family=family=Mooli&display=swap");
:root {
--primary-color: #52489c;
--secondary-color: #59c3c3;
--accent-color: #f45b69;
--text-dark: #333;
--text-light: #ebebeb;
--primary-font: Arial, Helvetica,sans-serif;
--secondary-font: 'Mooli', san-serif;
}
body {
    font-family: var(--primary-font);
    font-size: 1.2em;
    color: var(--text-dark);
    margin: 0;
    padding: 0;
}
a {
    color:inherit;
}
a:visited {
  color: var(--accent-color);
}
h1, h2, h3, h4 {
    font-family: var(--secondary-font);
}
h1 {
    margin-top: 0;
}

.nav-bar {
    background-color: var(--primary-color);
    color: var(--text-light);
    text-align: center;
    padding-bottom: 15px;
}
.nav-bar * {
    display:block;
    padding: 5px
}
.nav-bar h1 {
    font-size: 3em;
}
nav button {
    border: none;
    background-color: transparent;
    padding: 0; 
    margin: auto; 
    font-size: 1.6em;
    color: inherit;
}
main {
    text-align: center;
}
.gallery {
    display: grid;
    grid-template-columns: 1fr;
}
figure {
    overflow: hidden;
    transition: transform .8s;
    grid-column: auto;
}
img {
    height: 250px;
    width: 250px;
    border: 10px solid var(--text-light);
    max-width: 100%;
    object-fit: cover;
    box-shadow: 5px 5px 10px #6f7364;
}
figure:hover {
    opacity: .9;
    transform: scale(1.1);
}
footer {
    background-color: var(--primary-color);
    color: var(--text-light);
    padding: 20px;
    margin: 0;
}
@media screen and (min-width: 700px) {
    .gallery {
      grid-template-columns: 1fr 1fr;
    }
  }
@media screen and (min-width: 1000px) {
    .gallery {
      grid-template-columns: 1fr 1fr 1fr;
    }
    .nav-bar-links {
        display: grid;
        grid-template-columns: 1fr 1fr 1fr 1fr 1fr;
    }
    .nav-bar button {
        display: none;
    }
  }